<configuration>
    <appender name="normal_log" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/normal.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="normal_log" />
    </root>
</configuration>
